:host{
  width: 55%;
  height: 20rem;
  background-color: darkorange;
  color: white;
  text-align: center;
  margin: 0.5rem;
  font-size: xx-large;
}

/* === media queries === */

@media only screen and (max-width: 500px) {
  :host {
    width: 100%;
  }
}
