/* You can add global styles to this file, and also import other style files */
.container {
  max-width: 50rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  font-family: Arial;
  justify-content: center;
}
